body {
	background-color: black;
	font-family: Verdana;
	color: white;
}

h1 {
	font-family: Arial;
}

img{
	background-color: white
}

#contenedor{
	margin-top: 10px;
	margin-left: 20px;
}

a {
	color:inherit;
}